<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SymbolSuggestDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SymbolSuggestDemo.Properties.Settings>
            <setting name="APIKey" serializeAs="String">
                <value>your key goes here</value>
            </setting>
            <setting name="APISecret" serializeAs="String">
                <value>your secret goes here</value>
            </setting>
            <setting name="RedirectUri" serializeAs="String">
                <value>your redirect URI goes here</value>
            </setting>
            <setting name="Environment" serializeAs="String">
                <value>Can be "SIM" or "LIVE"</value>
            </setting>
        </SymbolSuggestDemo.Properties.Settings>
    </applicationSettings>
</configuration>